<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Challenge page</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>{{desc}}</p>
    <div>
        <h2>Input text</h2>
        <code>
            {{intxt}}
        </code>
    </div>
    <div>
        <h2>Output text</h2>
<!--        <code>-->
            {{out}}
<!--        </code>-->
    </div>
</body>
</html>