{% extends 'base.html' %}

{% block content %}
<h1>Global Leaderboard</h1>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">rank</th>
            <th scope="col">username</th>
            <th scope="col">questions solved</th>
            <th scope="col">total score</th>
            <th scope="col">last date</th>
            {% for id in cha_ids %}
            <th scope="col">problem{{id}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for leader in leaders %}
        <tr>
            <th scope="row">{{leader.rank}}</th>
            <td>{{leader.username}}</td>
            <td>{{leader.solved}}</td>
            <td>{{leader.score}}</td>
            <td>{{leader.timestamp}}</td>
            {% for score in leader.scores %}
            <td>{{score}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}