{% extends 'base.html' %}

{% block content %}
<h1>Welcome to VimGolf 2021!</h1>

<h1>Introduction</h1>

<p>Vim is known to help us edit text at the speed of thought, however, few of us actually use Vim with such pace and
    agility. Several users edit files exclusively in Insert mode, or struggle in exiting the editor!</p>

<p>Through this contest, we'll help you develop an appreciation for how fast and powerful Vim really can be!</p>

<p>The idea here is to transform a given input file to a given output file using the lowest number of keystrokes. It'll
    be the same as vimgolf.com, but with the questions created by us. You'll have few easy, few medium, and few hard
    questions.</p>

<h1>Rules</h1>

<ol>
    <li>Contest datetime: 27th Feb 12pm to 28th Feb 12pm</li>
    <li>Your commands will be run as the following Vim command: <code>vim -u NONE -Z -n +0 -s solve $f >/dev/null</code>
        where <code>$f</code> is the name of the input file. You can see the full `vim --version` output <a
                href="build.html">here</a>
    </li>
    <li>You can goto the <a href="https://github.com/GaurangTandon/vimgolf">GitHub repo</a> to read how to use the
        terminal client for this contest
    </li>
    <li>Please join the Discord server for VimGolf 2021: <a href="https://discord.gg/MMZR2CBW">https://discord.gg/MMZR2CBW</a>
    </li>
    <li>
        Ties are broken by number of problems solved (higher the better), followed by total number of keystrokes (lower
        the better), followed by date submitted (earlier the better).
    </li>
</ol>

<hr>

<h2>I keep getting redirected on this page</h2>

It's because you're accessing a private page or you're not logged in via IIITH login (sorry, contest is IIITH exclusive).

<hr>

<h2>Team VimGolf'21</h2>

Gaurang, Kunwar, Yoogottam

{% endblock %}