{% extends 'base.html' %}

{% block content %}
<h1>Welcome to VimGolf 2021!</h1>

<h1>Introduction</h1>

Vim is known to help us edit text at the speed of thought, however, few of us actually use Vim with such pace and agility. Several users edit files exclusively in Insert mode, or struggle in exiting the editor!

Through this contest, we'll help you develop an appreciation for how fast and powerful Vim really can be! &#2764;

The idea here is to transform a given input file to a given output file using the lowest number of keystrokes. It'll be the same as vimgolf.com, but with the questions created by us. You'll have few easy, few medium, and few hard questions.

<h1>Rules</h1>

<ol>
    <li>Contest datetime: 27th Feb 12pm to 28th Feb 12pm</li>
    <li>Your commands will be run as the following Vim command: TODO</li>
    <li>For any queries or discussions, use the channel #vimgolf-2021 on Programming Club Discord. Please do not DM the
        organizers.
    </li>
    <li>
        Ties are broken by number of problems solved (higher the better), followed by total number of keystrokes (lower
        the better), followed by date submitted (earlier the better).
    </li>
</ol>

<h1>Team VimGolf'21</h1>

Gaurang, Kunwar, Yoogottam

{% endblock %}